.sectionTwoHomePage{
    background-color: $mauve;
    padding: 150px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: block;
    text-align: center;
}

.sectionTwoHomePageItems{
       margin: auto 20%;
       padding: 22px 20px;
    }

.sectionTwoHomePage p{
        padding-bottom: 50px;
    }


    
// SECTION THREE NEW ADDITIONS STYLE



.sectionTwoContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sectionTwoContainer__area {
    display: flex;
    flex-wrap: wrap;
}
.floatimage.left {
    background-image:url(../assets/left-image.jpg);
    left: -10%;
    top: -30px;
    box-shadow: 30px 30px 0px 0px $orange;
}
.floatimage {
    background-size: cover;
    background-position: center;
    position: relative;
}

.sectionTwoContainer__second {
    padding: 50px 100px;
    min-height: 350px;
    min-width: 390px;display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 50%;

}
.containertwo {
    flex-direction: row-reverse;
}

.floatimage.right {
    background-image: url(../assets/right-image.jpg);
    right: -10%;
    box-shadow: -30px 30px 0px 0px $orange;
}

.sectionTwoContainer__second.right {
    
    align-items: flex-end;
}

.readMoreButton {
    text-decoration: none;
    color: $white;
    background-color: $brown;
    width: 220px;
    border: 2px solid $brown;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
}
.readMoreButton{
    color: $white;
    font-family: $secondary;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 32px;
}



// SECTION FOUR STYLE 


.sectionSix {
    background-color: $mauve;
}

.sectionSixContainer {
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.sectionSixContainer__subheader {

    display: flex;
}
.sectionSixContainer__item {
    flex: 1 0 50%;
}

.sectionSixContainer__subheader .iconItem {
    font-size: 2.5rem;
    margin-top: 10px;
    padding: 10px;
    flex: 1 0 auto;
    margin-top: 90px;
}

.iconItem{
    
    position: relative;
    vertical-align: middle;
    width: 2.5em;
    display: inline-block;
    height: 2em;
    line-height: 2em;
}

.sectionSixContainer__Content {
    min-width: 260px;
    padding: 20px;
}
.iconItem{
    color: white;
    background: $purple;
    border-radius: 50%;
    width: 43px;
    height: 43px;
}


.iconItem-position, .iconItem-position {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: transparent;
}


h4 {
    font-size: 5.2rem;
    font-weight: 400;
    letter-spacing: 1.6px;
    line-height: normal;
    color: $purple;
    font-family: $secondary;
}






// PINK FULL WIDTH BANNER STYLE
.pinkShoeImage{
width: 100%;
max-width: 1980px;
margin: 0 auto;

}





// SECCTION FIVE- FULL WIDTH IMAGE BANNER

.sixContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
}

.sixItem__image {
    padding-right: 30px;
    max-width: 500px;
    min-width: 200px;    
    flex: 1 0 25%;

}

.sixItem__image img {
    box-shadow: 28px 28px 0px 0px $orange;
}

.sixContainer__content {
    display: flex;  
    width: 75%;
    padding-left: 30px;
    flex-direction: column;
    justify-content: center;
}

// GALLERY SECTION STYLE

.galleryHomePage{
    background-color: $mauve;
    padding: 80px 0;
}

.gallery{ 
    display: flex;
    justify-content: center;
}

.gallery img{
    padding: 10px;
}

[type="checkbox"], [type="radio"] {
visibility: hidden;
}