// COLOR

$purple: #4c0341;
$orange: #fe6f16;
$white: #ffffff;
$black: #0d0d0d;
$brown: #882c07;
$mauve: #fae5ff; 

.wrapper{ 
            max-width: 1280px;
            width: 100%; 
            margin: 0 auto;
        }
